# web
node_modules
safelist.tmp

# maid
/.maid/cache
/.maid/temp
/.maid/server.toml

# environment variables
.env
.env.production

# local
/bin
/target
/config.toml
/staticFiles
/*.db
/*.db-*
/*.todo

# temp
dist