---
import Base from '@/components/base.astro';
import LoginPage from '@/components/react/login';
---

<!DOCTYPE html>
<html lang="en">
   <head><Base title={"{{error_name}}"} /></head>
   <body><main><LoginPage client:only /></main></body>
</html>
