---
import Base from '@/components/base.astro';
import Error from '@/components/react/error';
---

<!DOCTYPE html>
<html lang="en">
   <head><Base title={"{{error_name}}"} /></head>
   <body><main><Error error={{name: "{{error_name}}", message: "{{error_message}}"}} client:only /></main></body>
</html>
